body{
    margin: 1%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
p{
    margin: inherit;
    font-size: 25px;
}
.header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    
}
.heading{
    font-family: 'Montez', cursive;
    color: blue;
    font-size: 35px;
}
.subheading{
    font-size: 12px;
    font-family: 'Ubuntu Mono';
}
.Sign_up{
    color: white;
    background-color: blue;
    border: none;
    height: 25px;
    width: 80px;

}
.Sign_in{
    color: white;
    background-color: blue;
    border: none;
    height: 25px;
    width: 80px;

}
#myModal1{
    position: fixed;
    overflow: auto;
    margin-left: -50%;    
    margin-top: 50px;
    background-color: white;
    padding: 1%;
    width: 30%;
    
}
#myModal2{
    position: fixed;
    overflow: auto;
    margin-left: -50%;    
    margin-top: 50px;
    background-color: white;
    padding: 1%;
    width: 30%;
    
}
input{
    padding: 2%;
}
label{
        margin: 10px 0px 4px 0;
}
.close{
  color: #aaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
  border: none;
  background: none;  
}
.modal_header{
    display: flex;
    justify-content: space-between;
    
}
.Sign_up_modal{
  display: none;
  
}
.Sign_in_modal{
  display: none;
  
}
.Sign_up_form{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.Sign_in_form{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.Sign_in_modal_footer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}
.Sign_btn{
  width: 100%;
  margin: 15px 0;
  color: white;
  background-color: green;
  border: none; 
  height: 30px;;
}