body{
    margin: 1%;
}
h{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
    font-size: 20px;
    text-align: center;
}
p2{
    margin: inherit;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: block;
}
p1{
    margin: inherit;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: block;
}
svg{
    width: 63px;
    height: 25px;
    margin-top: 10px;
    cursor: pointer;
}
#id01{
    margin: 10px
}
.postlist_body{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;

}
.postlist_body .post{
    display: flex;
    width: 45%;
    background: white;
    border-radius: 15px;
    margin: 10px;
    overflow: hidden;
    height: 200px;

}
.post_title{
    display: flex;
    justify-content: center;
    margin: 1%;   

}
.post_body{
    background: #F0F0F0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 1%;

}
.post_body_header{
    display: flex;
    justify-content: space-between;
    color: #A9A9A9;
}
.post_body_footer{
    display: flex;
    flex-flow: row-reverse;
    padding: 2px;

}
/* Start here css code for delete post modal here */
.modal3{
    display: none;
    position: fixed;
    margin-top: 200px;
}
p5{
    
    font-size: 20px;
    text-align: center;
}

form{
    background: white;
    margin: 1%;
    padding: 5%;
    display: flex;
    flex-flow: column;
    height: 140px;
}
.modal_body{
    width: 115%;

}
.option{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
        
}
#Yes{
    width: 80px;
    height: 30px;
    background-color: red;
    color:white;
    border: none;
}
#No
{
  width: 80px;
  height: 30px;
  background-color:green;  
  color:white;
  border: none;
}